<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMS - <%= title %></title>
</head>
<body>
    <nav class="sidebar">
        <h2><a href="/">IMS</a></h2>
        <div class="nav-links-container"><!-- Used to position links properly -->
          <ul>
            <li><a href="/items">All Items</a></li>
            <li><a href="/categories">All categories</a></li>
            <li><a href="/items/create">Add New Item</a></li>
            <li><a href="/categories/create">Add New Category</a></li>
          </ul>
        </div>
    </nav>
    <section class="main">
        <h1><%= title %></h1>
        <% if (typeof(itemsArray) != "undefined" && itemsArray.length > 0) { %>
            <p><strong>Warning! <%= category.name %> category has <%= itemsArray.length %> items in it.</strong></p>
            <p>If you delete it now, these items will become uncategorised:</p>
            <ul>
                <% itemsArray.forEach(item => { %>
                    <li><%= item.name %></li>
                <% }) %> 
            </ul>
        <% } %>
        <form action="" method="post">
            <input type="hidden" name="category_id" required id="category_id" value="<%= category._id %>">
            <button type="submit">Delete Category</button>
        </form>
        <% if (typeof(errors) != "undefined") { %>
          <% console.log(errors) %> 
          <h2><%= errors.msg %> </h2>
        <% } %>
    </section>
</body>
</html>