<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMS - <%= title %></title>
</head>
<body>
    <nav class="sidebar">
        <h2>IMS</h2>
        <div class="nav-links-container"><!-- Used to position links properly -->
          <ul>
            <li><a href="/items">All Items</a></li>
            <li><a href="/categories">All categories</a></li>
            <li><a href="/items/create">Add New Item</a></li>
            <li><a href="/categories/create">Add New Category</a></li>
          </ul>
        </div>
    </nav>
    <section class="main">
        <h1><%= title %></h1>
        <form action="" method="post">
            <fieldset>
                <label for="name">Item Name</label>
                <input placeholder="Item Name" required type="text" name="name" id="name" value="<% if(typeof(item) != "undefined") { %><%= item.name %><% } else { %><% } %>">
                
                <label for="description">Description</label>
                <textarea placeholder="Description" required type="text" name="description" id="description"><% if(typeof(item) != "undefined") { %><%= item.description %><% } %></textarea>
                <label for="price">Price (in Euro)</label>
                <input type="number" name="price" id="price" step="0.01" placeholder="Price" value="<% if(typeof(item) != "undefined") { %><%= item.price %><% } else { %><% } %>">
                <label for="stock">Stock (amount)</label>
                <input type="number" name="stock" id="stock" placeholder="Stock" value="<% if(typeof(item) != "undefined") { %><%= item.stock %><% } else { %><% } %>">
            </fieldset>
            <fieldset>
              <% if (typeof(categories) != "undefined") {%> 
                <% categories.forEach(category => { %>
                      <% if (typeof(category) != "undefined" && selectedCategory != null && category.name == selectedCategory.name) { %>
                        <input type="radio" name="category" checked value='<%= category._id %>' id='<%= category._id %>'>
                      <% } else { %>
                        <input type="radio" name="category" value='<%= category._id %>' id='<%= category._id %>'>
                      <% } %> 
                        <label for=<%= category._id %>> <%= category.name %> </label>
                <% }) %>
              <% } else { %>
                <input type="radio" name="category" checked value="<%= item.category %>" id="<%= item.category %>">
              <% } %>  
            </fieldset>
            <% if (typeof(item) != "undefined") {%> 
              <input type="text" id="id" name="id" style="display: none;" value="<%= item._id %>">
            <% } %> 
            <button type="submit">Submit</button>
        </form>
        <% if (typeof(errors) != "undefined") { %>
          <% console.log(errors) %> 
          <h2><%= errors.msg %> </h2>
        <% } %>
    </section>
</body>
</html>