<!DOCTYPE html>
<html>
  <head>
    <title>IMS - <%= data.name %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/itemStyle.css">
  </head>
<body>
    <nav class="sidebar">
      <h2><a href="/">IMS</a></h2>
      <div class="nav-links-container"><!-- Used to position links properly -->
        <ul>
          <li><a href="/items">All Items</a></li>
          <li><a href="/categories">All categories</a></li>
          <li><a href="/items/create">Add New Item</a></li>
          <li><a href="/categories/create">Add New Category</a></li>
        </ul>
      </div>
    </nav>
    <section class="main">
      <h1><%= data.name %></h1>
      <p><%= data.description %></p>
      <p>Price: <%= data.price %> Euro</p>
      <div class="categories-container">
        <% if(categories.length > 0) {%> 
          <p>Categories: 
          <% categories.forEach(category => { %>
            <a href="<%= category.url %>"><%= category.name %></a>
        <% })} else { %>
          <p>No category</p>
        <% } %> 
        </p>
      </div>
      <a href=<%=`${data.url}/update`%>>Update Item</a>
      <a href=<%=`${data.url}/delete`%>>Delete Item</a>
    </section>
</body>